name: Check mypy

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  checks:
    name: mypy Python ${{ matrix.py_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py_version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.py_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py_version }}

      - name: Install Dependencies
        run: |
          python3 -m pip install -U mypy

      - name: mypy
        run: |
          python3 -m mypy --show-column-numbers --hide-error-context .
