name: Python bindings

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  tests_cases:
    name: Test for Python ${{ matrix.py_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py_version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Python ${{ matrix.py_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py_version }}

      - name: Setup requirements
        run: |
          python3 --version
          python3 -m pip install -U maturin

      - name: Install local crunch64
        run: python3 -m pip install ./lib

      - name: Run tests
        run: python3 ./python_bindings/tests.py
