name: Python bindings

# Build on every branch push, tag push, and pull request change:
on: [push, pull_request]

jobs:
  tests_cases:
    name: Tests cases
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup requirements
      run: |
        python3 -m pip install -U maturin

    - name: Install local crunch64
      run: python3 -m pip install ./lib

    - name: Test Yay0
      run: python3 ./python_bindings/tests/test_yay0.py

    - name: Test Yaz0
      run: python3 ./python_bindings/tests/test_yaz0.py
