name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            archive: tar.gz
            bin: crunch64
          - os: macos-latest
            target: x86_64-apple-darwin
            archive: zip
            bin: crunch64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            archive: zip
            bin: crunch64.exe
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            cargo build --release --manifest-path cli/Cargo.toml
          else
            cargo build --release --manifest-path cli/Cargo.toml --target ${{ matrix.target }}
          fi
      - name: Create archive
        run: |
          folder=crunch64-v${{ github.ref_name }}-${{ matrix.target }}
          mkdir -p $folder
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            copy cli\\target\\release\\${{ matrix.bin }} $folder\\
            copy README.md LICENSE $folder\\
            7z a $folder.zip $folder
          elif [ "${{ matrix.os }}" == "macos-latest" ]; then
            cp cli/target/${{ matrix.target }}/release/${{ matrix.bin }} $folder/
            cp README.md LICENSE $folder/
            zip -r $folder.zip $folder
          else
            cp cli/target/release/${{ matrix.bin }} $folder/
            cp README.md LICENSE $folder/
            tar -czvf $folder.tar.gz $folder
          fi
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: crunch64-v${{ github.ref_name }}-${{ matrix.target }}.*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
